@page
@model L09_WebApiAndRazorPages_HW2.Pages.Index2Model

@{
    ViewData["Title"] = "Index 2";
}

<div class="text-center">
    <h1 class="display-4">Redirected from Index 1 to Index 2</h1>
</div>
