@inject L07_Views_HW1.Services.ITimeService TimeServiceNow

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexThree</title>
</head>
<body>
    <p>Current time: @TimeServiceNow.GetTime()</p>
</body>
</html>
