
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>The Square (4x4)</h1>

@for (int i = 0; i < 4; i++)
{
    <div>
        @for (int j = 0; j < 4; j++)
        {
        <img src="~/square.png" asp-append-version="true">
        }
    </div>
}