@model L05_BasicsOfMVC_HW1.Models.Company

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <p><h3>Company:</h3>@Model.Name</p>
    <p><h3>Address:</h3>@Model.Address</p>
    <p><h3>Contacts:</h3> @Model.Contacts</p>
</body>
</html>
