@model IEnumerable<L07_Views_HW2.Models.Game>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Games:</h1>
    @foreach (var game in Model)
    {
        <p>@game.Id . @game.Name (@game.Price$)</p>
    }
</body>
</html>
